
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}

body{
  overflow-x:hidden;
}

/*
**side bar ..........................................
*/
.container{
  position: relative;
  width: 100%;
}
.navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  background: #003147;
  transition: 0.5s;
  overflow: hidden;

}
.navigation.active{
  width: 60px;
}
.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}
.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;

}
.navigation ul li:hover{
  background: #03a9f4;
}
.navigation ul li:nth-child(1){
  margin-bottom: 20px;
}
.navigation ul li:nth-child(1):hover{
  background: transparent;
}
.navigation ul li a{
position: relative;
display: block;
width: 100%;
display: flex;
text-decoration: none;
color: #fff;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon .fa{
  color: #fff;
  font-size: 24px;
}
.navigation ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

/*.........................................................................main...................................................*/
.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}

.orderbus-input-items{
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  display: grid;
  grid-template-columns:1fr;
}
.edite-order-container{
  margin: 1rem;
}
.order-input-item span{
  margin: 1rem;
  display: inline-block;
}
.order-form-table{
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
 gap: 50px;
 padding: 10px;
 margin: 1rem 0;
}

.orderbus-input-items div {
  margin: 0.5rem;
}
.display-inputs-container div{
  margin: 1rem;
}
.final-calculation-container div{
  margin: 1rem;
}
.list-bus-container {
  overflow-x: scroll;
}

/*...................................................................order main start.............................................................*/

.order-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.order-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.order-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,);
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
  color: rgba(0,0,0);
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}

.order-list-container{
  margin: 1rem;
  padding: 10px;
  width: 100%;
}
.order-list-container span h2{
   padding: 10px 0;
}
.order-list-container .list-order-table div{
  margin: 1rem 0;
}
.order-list-container .order-detail-container  details summary {
  padding-bottom: 10px;
}
.order-list-container .order-detail-container  details button{
  width: 70px;
  padding: 5px;
  background-color: #03a9f4;
  color: #fff;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
}
.order-list-container .order-detail-container .summary-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  outline: 1px solid #000;
  padding: 1rem;
}
.order-list-container .order-detail-container  details button:hover{
  border: 1px solid #03a9f4;
  color: #03a9f4;
  background-color: #fff;
}



/*..................................................................order main end................................................*/





/*..................................................................franchisee main.............................................*/
body > .franchisee-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.franchisee-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.franchisee-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,);
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
  color: rgba(0,0,0);
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}
.Add-franchise-details{
  width:50%;
  height: 300px;
  padding: 20px;
  margin: 10px 0;

}
.Add-franchise-details form div{
    font-size: 15px;
    margin:20px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.Add-franchise-details form div label {
  margin-right: 10px;
}
.Add-franchise-details form  input {
   width: 300px;
   height: 20px;  
}
.Add-franchise-details form  button {
  background-color: #03a9f4;
  color: #fff;
  width: 100px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  
}
.Add-franchise-details form  button:hover {
  color:#03a9f4;
  background-color: #fff;
  border:1px solid #03a9f4; 

}

.franchisee-container{
  margin: 1rem;
}
.franchisee-container span h2{
  color:#003147;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
.payments-franchisee-container .franchisee-payment-backBtn {
  width: 50%;
  padding: 10px;
}
.payments-franchisee-container .franchisee-payment-backBtn span{
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: #f5f5f5;
 
}
.payments-franchisee-container .franchisee-payment-backBtn span i{
  font-size: 20px;
  font-weight: 600;
  background-color:#03a9f4;
  width: 70px;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
}
.payments-franchisee-container .franchisee-payment-backBtn span i:hover{
  border: 1px solid #03a9f4;
  background-color: #fff;
  color: #03a9f4;
}
.agency-list table a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.agency-list table a:hover{
  color: #03a9f4;

}

/* ......................................................................end of franchise main...............................................*/

/* ..................................................................... ad client main  ....................................................*/
.add-client-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.add-client-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.add-client-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,);
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
  color: rgba(0,0,0);
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}
.add-client-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: start;
  padding: 5px 50px;
}
.add-client-container form .add-client-duraton{
  display: flex;
}
.select-franchise-or-agency{
  margin: 1rem;
}
.select-franchise-or-agency div{
  margin: 1rem;
}
.add-client-list-details{
  margin: 1rem;
}
.add-client-list-details h2{
  margin: 1rem;
}
.add-client-container .submit-btn button{
  background-color: #03a9f4;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border:none;
  color: white;
  transition: 0.5s;
}
.add-client-container .submit-btn button:hover{
  border:1px solid #03a9f4;
  background-color: #fff;
  color:#03a9f4;
  
}


/*...............................END OF ADD CLIENT MAIN.......................................*/
  





/* .......................................BUS-MAIN................................................ */

.bus-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.bus-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.bus-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,);
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
  color: rgba(0,0,0);
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}

.edit-bus-container{
  width: 100%;
  padding: 1rem;
}
.edit-bus-container span h2{
  margin-bottom: 1.5rem;
}
.edit-bus-container form{
     display: flex;
     flex-direction: column;
     gap: 1rem;
}
.edit-bus-container label{
  margin: 1rem;
}
.edit-bus-container label input{
  padding: 1rem;
  margin: 1.5rem;
}

.bus-container span h2{
  color:#003147;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.bus-main  table {
  margin: 10px;
}
.bus-main  table td{
  padding: 10px;
  border: 1px solid #111;
}
.bus-main  table tbody tr th{
   margin: 10rem;
  background-color: #003147;
}
.bus-main > .bus-container{
  overflow-x: scroll;
}

 .bus-main > .edit-bus-container div button{
  background-color: #03a9f4;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border:none;
  color: white;
  transition: 0.5s;
}
.edit-bus-container div button:hover{
  border:1px solid #03a9f4;
  background-color: #fff;
  color:#03a9f4;
  
}
.payments-bus-container .bus-payment-backBtn {
  width: 50%;
  padding: 10px;
}
.payments-bus-container .bus-payment-backBtn span{
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: #f5f5f5;
 
}
.payments-bus-container .bus-payment-backBtn span i{
  font-size: 20px;
  font-weight: 600;
  background-color:#03a9f4;
  width: 70px;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
}
.payments-bus-container .bus-payment-backBtn span i:hover{
  border: 1px solid #03a9f4;
  background-color: #fff;
  color: #03a9f4;
}


/*.................................................................end of bus main........*/

/*...................................................oraganisation main......................*/
.organisation-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.organisation-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.organisation-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}
.organisation-container{
  margin: 1rem;
}

/*...................................................................end of organisation main.................................*/


/*...................................................gst main......................*/
.gst-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.gst-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.gst-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}
.gst-container{
  margin: 1rem;
}
.gst-container span h2{
  margin: 1rem;
}
.gst-container div{
  margin:1rem ;
}



/*...................................................................end of gst main.................................*/



/*...................................................company revenue main......................*/
.company-revenue-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.company-revenue-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.company-revenue-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}
.company-revenue-container span h2{
  margin: 1.5rem;
}
.company-revenue-container div{
  margin: 1rem;
}

/*...................................................................end of company revenue main.................................*/



/*...................................................serverCharge main......................*/
.server-charge-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.server-charge-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.server-charge-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}
.serverCharge-container{
  margin: 1rem;
}
.serverCharge-container span h2{
  margin: 1rem;
}
.serverCharge-container div{
  margin: 1rem;
}
.payments-serverCharge-container .serverCharge-payment-backBtn {
  width: 50%;
  padding: 10px;
}
.payments-serverCharge-container .serverCharge-payment-backBtn span{
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: #f5f5f5;
 
}
.payments-serverCharge-container .serverCharge-payment-backBtn span i{
  font-size: 20px;
  font-weight: 600;
  background-color:#03a9f4;
  width: 70px;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
}
.payments-serverCharge-container .serverCharge-payment-backBtn span i:hover{
  border: 1px solid #03a9f4;
  background-color: #fff;
  color: #03a9f4;
}


/*...................................................................end of server charge main.................................*/



/*....................................................agency main.............................................*/

.agency-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.agency-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.agency-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0,);
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
  color: rgba(0,0,0);
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}

.agency-list span h2{
  color:#003147;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
.agency-list table a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.agency-list table a:hover{
  color: #03a9f4;

}


.agency-main .edit-bus-container form button {
  background-color: #03a9f4;
  color: #fff;
  width: 70px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  
}
.agency-main .edit-bus-container form  button:hover {
  color:#03a9f4;
  background-color: #fff;
  border:1px solid #03a9f4; 
}
.payments-agency-container .agency-payment-backBtn {
  width: 50%;
  padding: 10px;
}
.payments-agency-container .agency-payment-backBtn span{
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: #f5f5f5;
 
}
.payments-agency-container .agency-payment-backBtn span i{
  font-size: 20px;
  font-weight: 600;
  background-color:#03a9f4;
  width: 70px;
  border-radius: 50px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
}
.payments-agency-container .agency-payment-backBtn span i:hover{
  border: 1px solid #03a9f4;
  background-color: #fff;
  color: #03a9f4;
}


/*................................................settings main/revenue formula..................................*/
 .settings-main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;

}
.settings-main.active{
  width: calc(100% - 60px);
  left: 60px;
}
.settings-main .topbar{
  width: 100%;
  background: #ffffff;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.toggle::before{
  content:'\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid rgba(0,0,0);
}
.search label .fa{
  position: absolute;
  left: 15px;
  top: 4px;
  color: rgba(0,0,0);
}
.user{
  position: relative;
  min-width: 50px;
  overflow: hidden;
  cursor: pointer;
  color: #003147;
}
.cardBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:20px;

}
.cardBox .card{
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.cardBox .card .numbers{
position: relative;
font-size: 2rem;
font-weight: 500;
}
.cardBox .card .cardName{
  color: #999;
}
.cardBox .card .iconBox{
  font-size: 2.5rem;
  color: #03a9f4;
}

.setting-formula-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 20px;
  padding: 50px;
}

.setting-formula-container .formula-normal span h4{
  padding: 10px 0;
  justify-content:start;
  display: flex;
}
.setting-formula-container .formula-normal .form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.setting-formula-container .formula-normal .form input{
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background-color:transparent;
  display: flex;

}

.setting-formula-container .formula-by-other-franchisee span h4{
  padding: 10px 0;
  justify-content:start;
  display: flex;
}
.setting-formula-container .formula-by-other-franchisee .form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.setting-formula-container .formula-by-other-franchisee .form input{
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background-color:transparent;
  display: flex;


}
.setting-formula-container .formula-ad-agency-company span h4{
  padding: 10px 0;
  justify-content:start;
  display: flex;
}
.setting-formula-container .formula-ad-agency-company .form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.setting-formula-container .formula-ad-agency-company .form input{
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background-color:transparent;
  display: flex;
}

.edit-setting-container{
  padding: 1rem;
}
.edit-setting-container span h2{
  color:#003147;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
.edit-setting-container .revenue-submit-btn{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  
}
.edit-setting-container .revenue-submit-btn button{
     display: block;
     background-color: #03a9f4;
     color: #fff;
     width: 100px;
     padding: 10px;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.5s;
}
.edit-setting-container .revenue-submit-btn button:hover{
  color: #03a9f4;
  background-color: #fff;
  border: 1px solid #03a9f4;

}



.revenue-order-form span h2{
  color:#003147;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1rem;
}

.revenue-order-form-table{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  gap: 20px;
  padding: 50px;
}
.revenue-order-form-table .normal span h4{
  margin-bottom: 1rem;
}
.revenue-order-form-table .other-Franchisee span h4{
  margin-bottom: 1rem;
  background-color: #003147;
}

.revenue-order-form-table .company-Agency span h4{
  margin-bottom: 1rem;
}


.revenue-order-form-table .normal div{
     padding: 5px 0;    
}
.revenue-order-form-table .other-Franchisee div{
  padding: 5px 0;
  background-color: #003147;    
}
.revenue-order-form-table .company-Agency div{
  padding: 5px 0;    
}








/*  responsive  */
@media (max-width:992px){
  .navigation{
      left: -300px;
  }
  .navigation.active{
      left:0;
      width: 300px;
  }
  .main{
      width: 100%;
      left: 0;
  }
  .main.active{
      width:calc(100% - 300px);
      left: 300px;
  }
  .cardBox {
      grid-template-columns: repeat(2,1fr);
  }
  .order-main{
    width: 100%;
    left: 0;
  }
  .order-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .franchisee-main{
    width: 100%;
    left: 0;
  }
  .franchisee-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .add-client-main{
    width: 100%;
    left: 0;
  }
  .add-client-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .bus-main{
    width: 100%;
    left: 0;
  }
  .bus-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .organisation-main{
    width: 100%;
    left: 0;
  }
  .organisation-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .gst-main{
    width: 100%;
    left: 0;
  }
  .gst-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .company-revenue-main{
    width: 100%;
    left: 0;
  }
  .company-revenue-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .server-charge-main{
    width: 100%;
    left: 0;
  }
  .server-charge-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }

  .agency-main{
    width: 100%;
    left: 0;
  }
  .agency-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }
  .settings-main{
    width: 100%;
    left: 0;
  }
  .settings-main.active{
    width:calc(100% - 300px);
    left: 300px;
  }

}

@media (max-width:768px){
.details{
  grid-template-columns: repeat(1,1fr);
}
.cardHeader h2{
  font-weight: 600;
  font-size: 18px;

}
.buses-container table{
  overflow-x: scroll;
}
.user{
  padding-right: 100px;
}

}



@media (max-width:480px){
  .cardBox{
     grid-template-columns: repeat(1,1fr);
  }
  .details .recentOrders {
      overflow-x: auto;
  }
  .details .recentOrders table{
      width: 600px;
  }
  .navigation{
      width: 100%;
      left: -100%;
      z-index: 1000;
  }
  .navigation.active{
      width: 100%;
      left: 0;
  }
  .toggle.active{
      position: fixed;
      z-index:10000;
      right: 0;
      left: inherit;  
  }
  .toggle.active::before{
      color: #ffff;
  }
  .main,
  .main.active{
      width: 100%;
      left: 0;
  }
  .order-main,
  .order-main.active{
      width: 100%;
      left: 0;
  }
  .franchisee-main,
  .franchisee-main.active{
      width: 100%;
      left: 0;
  }
  .add-client-main,
  .add-client-main.active{
      width: 100%;
      left: 0;
  }
  .bus-main,
  .bus-main.active{
      width: 100%;
      left: 0;
  }
  .settings-main,
  .settings-main.active{
      width: 100%;
      left: 0;
  }
  .user{
    padding-right: 50px;
  }
  
 }

 @media (max-width:400px){
  .dynamic-column .total-order-amount  input{
    width: 100%;
    padding:5px ;
  }
l 
  .dynamic-column .franchisee-share input{
    width: 100%;
    padding:5px ;
  }

  .dynamic-column .company-share input{
    width: 100%;
    padding:5px ;
  }

  .dynamic-column .BusOwner-share input{
    width: 100%;
    padding:5px ;
  }

  .dynamic-column .BusOrganisation-share input{
    width: 100%;
    padding:5px ;
  }

  .dynamic-column .AdFranchise-share input{
    width: 100%;
    padding:5px ;
  }

  .dynamic-column .ServerCharge input{
    width: 100%;
    padding:5px ;
  }

  .dynamic-column .Agency-share input{
    width: 100%;
    padding:5px;
  }
  .user{
    padding-right: 50px;
  }

 }
